PhatGarage-NodeRed.txt
[{"id":"2e6fe463.c37f3c","type":"tab","label":"System Functions","disabled":false,"info":""},{"id":"d0e1e64.1aab118","type":"tab","label":"Garage Door 1","disabled":false,"info":""},{"id":"cc630399.512e8","type":"tab","label":"Garage Door 2","disabled":false,"info":""},{"id":"c025c31a.ca1a1","type":"homekit-accessory","z":"","accessoryName":"Door 1","pinCode":"111-11-111","port":"","manufacturer":"JeffCo","model":"Default Model","serialNo":"1","accessoryType":"4"},{"id":"f27f4f62.76df2","type":"ui_group","z":"","name":"Status Column","tab":"1a1d37c6.50d9a8","order":2,"disp":false,"width":"5"},{"id":"8797b1a7.7ba13","type":"ui_group","z":"","name":"Hidden Items","tab":"1a1d37c6.50d9a8","order":5,"disp":true,"width":"6"},{"id":"aa8052f.f7451b","type":"ui_group","z":"","name":"Graph Column","tab":"1a1d37c6.50d9a8","order":3,"disp":false,"width":"10"},{"id":"53d4e258.1d0cec","type":"ui_group","z":"","name":"Log Column","tab":"1a1d37c6.50d9a8","order":4,"disp":false,"width":"10"},{"id":"76f933aa.c45d9c","type":"ui_group","z":"","name":"Title Column","tab":"1a1d37c6.50d9a8","order":1,"disp":false,"width":"3","collapse":false},{"id":"1a1d37c6.50d9a8","type":"ui_tab","z":"","name":"Garage Door Status","icon":"dashboard","order":1},{"id":"cda47043.f4468","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"797391f9.d414c","type":"homekit-accessory","z":"","accessoryName":"Door 2","pinCode":"111-11-111","port":"","manufacturer":"JeffCo","model":"Default Model","serialNo":"2","accessoryType":"4"},{"id":"8830dbb2.416f38","type":"ui_group","z":"","name":"Status Column (2)","tab":"1a1d37c6.50d9a8","order":7,"disp":false,"width":"5","collapse":false},{"id":"9d1c8717.df2718","type":"ui_group","z":"","name":"Hidden Items (2)","tab":"1a1d37c6.50d9a8","order":10,"disp":true,"width":"6","collapse":false},{"id":"80dc64e9.9a9f98","type":"ui_group","z":"","name":"Graph Column (2)","tab":"1a1d37c6.50d9a8","order":8,"disp":false,"width":"10","collapse":false},{"id":"76b042e5.149c9c","type":"ui_group","z":"","name":"Log Column (2)","tab":"1a1d37c6.50d9a8","order":9,"disp":false,"width":"10","collapse":false},{"id":"d9235a3a.e409e8","type":"ui_group","z":"","name":"Title Column (2)","tab":"1a1d37c6.50d9a8","order":6,"disp":false,"width":"3","collapse":false},{"id":"1c1f0d69.1d2bd3","type":"ui_tab","z":"","name":"System Functions","icon":"dashboard","order":2},{"id":"7e6f7302.b348ec","type":"ui_group","z":"","name":"Default","tab":"1c1f0d69.1d2bd3","order":1,"disp":false,"width":"6","collapse":false},{"id":"3e1870a4.5ce3c","type":"homekit-service","z":"d0e1e64.1aab118","accessory":"c025c31a.ca1a1","name":"Door 1","serviceName":"GarageDoorOpener","x":402.4999771118164,"y":71.00000190734863,"wires":[["17761715.b02329"]]},{"id":"17761715.b02329","type":"switch","z":"d0e1e64.1aab118","name":"Ignore passthrough","property":"hap.context","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":590,"y":160,"wires":[["3c5b6dd5.aa6742"],[]],"outputLabels":["From Home",""]},{"id":"6cf192ef.4608fc","type":"rpi-gpio out","z":"d0e1e64.1aab118","name":"Relay 1 (GPIO 6)","pin":"31","set":true,"level":"0","freq":"","out":"out","x":765.2500076293945,"y":450.2500057220459,"wires":[]},{"id":"fedfd578.2d0f08","type":"function","z":"d0e1e64.1aab118","name":"Inject 1","func":"msg.payload =  1;\nreturn msg; \n","outputs":1,"noerr":0,"x":245,"y":508,"wires":[["237563b8.e0fd6c"]]},{"id":"237563b8.e0fd6c","type":"ui_button","z":"d0e1e64.1aab118","name":"Open/Close Button (Door 1)","group":"f27f4f62.76df2","order":2,"width":0,"height":0,"passthru":true,"label":"Open/Close","color":"","bgcolor":"","icon":"vertical_align_center","payload":"1","payloadType":"num","topic":"","x":440,"y":460,"wires":[["6cf192ef.4608fc","316d2721.985de8","bf2c7c00.971a1","c221318f.c616"]]},{"id":"7c24be47.103e2","type":"function","z":"d0e1e64.1aab118","name":"Build HomeKit Characteristics","func":"if (msg.payload == 1) \n{    msg.payload = {\"CurrentDoorState\": 0, \"TargetDoorState\": 0}}\nelse\n{    msg.payload = {\"CurrentDoorState\": 1, \"TargetDoorState\": 1}}\nreturn msg; \n\n//Apple - Open is 0 Closed in 1\n//Sensor - Open is 0 Closed in 1","outputs":1,"noerr":0,"x":167,"y":66,"wires":[["3e1870a4.5ce3c"]]},{"id":"3c5b6dd5.aa6742","type":"switch","z":"d0e1e64.1aab118","name":"Open or Shut","property":"payload.TargetDoorState","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","outputs":2,"x":790,"y":80,"wires":[["fedfd578.2d0f08"],["fedfd578.2d0f08"]],"outputLabels":["0 = Open","1= Shut"]},{"id":"316d2721.985de8","type":"delay","z":"d0e1e64.1aab118","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":767.5000228881836,"y":498.2500228881836,"wires":[["55a0d93f.922288"]]},{"id":"55a0d93f.922288","type":"function","z":"d0e1e64.1aab118","name":"Inject 0","func":"msg.payload =  0;\nreturn msg; \n","outputs":1,"noerr":0,"x":924.8213806152344,"y":500.9285593032837,"wires":[["6cf192ef.4608fc"]]},{"id":"7e8479cb.303418","type":"rpi-gpio in","z":"d0e1e64.1aab118","name":"Door 1 (GPIO 05)","pin":"35","intype":"down","debounce":"1000","read":true,"x":86.75,"y":381.7500042915344,"wires":[["addaeaf7.72bb88","7c24be47.103e2","526ee7c0.894248","38b70bf.a9f83f4"]]},{"id":"addaeaf7.72bb88","type":"switch","z":"d0e1e64.1aab118","name":"Lock or Unlock","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","outputs":2,"x":527.678596496582,"y":329.464298248291,"wires":[["dedb99be.15fb28","9a9bba95.14ce58"],["dedb99be.15fb28","d18f24d.dc294d8"]],"outputLabels":["0 = Open","1= Shut"]},{"id":"e3bcb058.46247","type":"ui_audio","z":"d0e1e64.1aab118","name":"","group":"8797b1a7.7ba13","voice":"en-US","always":"","x":901.8572235107422,"y":272.14287090301514,"wires":[]},{"id":"8b08bc28.f4669","type":"ui_toast","z":"d0e1e64.1aab118","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Status Change","name":"","x":928.3928985595703,"y":305.17859268188477,"wires":[]},{"id":"c11fa021.36113","type":"ui_chart","z":"d0e1e64.1aab118","name":"Graph (Door 1)","group":"aa8052f.f7451b","order":1,"width":"10","height":"5","label":"History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2","removeOlder":"12","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":309.75002670288086,"y":187.17858600616455,"wires":[[],[]]},{"id":"22787629.90968a","type":"function","z":"d0e1e64.1aab118","name":"Add to Dashboard Log1","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog1 = flow.get('dashboardLog1')|| [];\n\ndashboardLog1.unshift(msg);\nif (dashboardLog1.length > 20){\n    // Delete oldest message if &gt; 20\n    dashboardLog1.pop();\n    dashboardLog1.length = 20;\n} \n\n// store the value back\nflow.set('dashboardLog1',dashboardLog1);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog1;\nreturn msg;","outputs":1,"noerr":0,"x":675.5000076293945,"y":640.2500715255737,"wires":[["df7f7d04.767e8"]]},{"id":"df7f7d04.767e8","type":"ui_template","z":"d0e1e64.1aab118","group":"53d4e258.1d0cec","name":"Log Widget (Door 1)","order":1,"width":"10","height":"5","format":" <h3 align=\"center\">Log</h3>\n <br>\n <li ng-repeat=\"x in msg.payload\">\n     <font size=\"3\">{{x.payload}}</font>\n </li>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1162.500015258789,"y":696.500036239624,"wires":[[]]},{"id":"bf2c7c00.971a1","type":"function","z":"d0e1e64.1aab118","name":"Add Log Text","func":"if (msg.hap){\n   if (msg.hap.newValue === 0)\n   {\n        msg.payload = new Date().toLocaleString(\"en-US\", {timeZone: \"America/Chicago\"}) + \": OPEN triggered from Apple\" \n   }else{\n        msg.payload = new Date().toLocaleString(\"en-US\", {timeZone: \"America/Chicago\"}) + \": CLOSE triggered from Apple\" \n   }\n}\nelse\n{\n    msg.payload = new Date().toLocaleString(\"en-US\", {timeZone: \"America/Chicago\"}) + \": OPEN/CLOSE triggered from Page\" \n}\nreturn msg;","outputs":1,"noerr":0,"x":459.50006103515625,"y":637.5000534057617,"wires":[["22787629.90968a"]]},{"id":"19e7bb68.508e75","type":"function","z":"d0e1e64.1aab118","name":"Clear Log1","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog1 = flow.get('dashboardLog1')||[];\ndashboardLog1.length=0;\ndashboardLog1 = [];\nflow.set('dashboardLog1',dashboardLog1);\nmsg = {};\nvar dashboardLog1 = flow.get('dashboardLog1')||[];\nmsg.payload = dashboardLog1;\nreturn msg;","outputs":1,"noerr":0,"x":273.99998474121094,"y":692.9999389648438,"wires":[["df7f7d04.767e8"]]},{"id":"1c7a7524.40a43b","type":"function","z":"d0e1e64.1aab118","name":"Add to Dashboard Log1","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog1 = flow.get('dashboardLog1')|| [];\n\ndashboardLog1.unshift(msg);\nif (dashboardLog1.length > 20){\n    // Delete oldest message if &gt; 20\n    dashboardLog1.pop();\n    dashboardLog1.length = 20;\n} \n\n// store the value back\nflow.set('dashboardLog1',dashboardLog1);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog1;\nreturn msg;","outputs":1,"noerr":0,"x":875.0000114440918,"y":386.2500057220459,"wires":[["df7f7d04.767e8"]]},{"id":"dedb99be.15fb28","type":"function","z":"d0e1e64.1aab118","name":"Add Log Text","func":"\nif (msg.payload === 0)\n{\n    msg.payload = new Date().toLocaleString(\"en-US\", {timeZone: \"America/Chicago\"}) + \": Garage door now OPEN\" \n}else{\n    msg.payload = new Date().toLocaleString(\"en-US\", {timeZone: \"America/Chicago\"}) + \": Garage door now CLOSED\" \n}\nreturn msg;","outputs":1,"noerr":0,"x":673.7500114440918,"y":386.2500057220459,"wires":[["1c7a7524.40a43b"]]},{"id":"e3cc332f.d9d89","type":"trigger","z":"d0e1e64.1aab118","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-1","extend":false,"units":"min","reset":"","name":"","x":292.89454650878906,"y":245.88676261901855,"wires":[["c11fa021.36113","558c909d.5796f"]]},{"id":"558c909d.5796f","type":"debug","z":"d0e1e64.1aab118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":496.51182556152344,"y":231.3515968322754,"wires":[]},{"id":"526ee7c0.894248","type":"function","z":"d0e1e64.1aab118","name":"Invert Result","func":"node.log(\"Initial Value:\");\nnode.log(msg.payload);\nif (msg.payload==1) {msg.payload=0}\nelse {msg.payload=1}\nnode.log(\"New Value:\");\nnode.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":283.0195007324219,"y":300.00391578674316,"wires":[["e3cc332f.d9d89"]]},{"id":"38b70bf.a9f83f4","type":"ui_text","z":"d0e1e64.1aab118","group":"76f933aa.c45d9c","order":1,"width":"3","height":"5","name":"Door Title (Door 1)","label":"Garage Door 1:","format":"","layout":"row-left","x":151.2744140625,"y":131.2548828125,"wires":[]},{"id":"9a9bba95.14ce58","type":"change","z":"d0e1e64.1aab118","name":"Open Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Garage Door one, has Opened","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":707.5181503295898,"y":248.19089126586914,"wires":[["e3bcb058.46247","8b08bc28.f4669","a051863e.6ba7c8"]]},{"id":"d18f24d.dc294d8","type":"change","z":"d0e1e64.1aab118","name":"Close Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Garage Door one, has Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720.0136032104492,"y":318.34544467926025,"wires":[["e3bcb058.46247","8b08bc28.f4669","7ba719e7.907278"]]},{"id":"a051863e.6ba7c8","type":"change","z":"d0e1e64.1aab118","name":"Set Graphic to Open","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://github.com/lawrence-jeff/OpenGarage-Firmware/blob/master/OpenGarage/examples/ogMainArduino/data/DoorOpen.png?raw=true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":941.5089263916016,"y":198.19087505340576,"wires":[["dad341fb.6840b"]]},{"id":"7ba719e7.907278","type":"change","z":"d0e1e64.1aab118","name":"Set Graphic to Closed","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://github.com/lawrence-jeff/OpenGarage-Firmware/blob/master/OpenGarage/examples/ogMainArduino/data/DoorShut.png?raw=true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":971.5089492797852,"y":434.19083309173584,"wires":[["dad341fb.6840b"]]},{"id":"dad341fb.6840b","type":"ui_template","z":"d0e1e64.1aab118","group":"f27f4f62.76df2","name":"Set Graphic Image (Door 1)","order":1,"width":"5","height":"4","format":"<img src=\"{{msg.payload}}\" alt=\"Flowers in Chania\">","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1144.019458770752,"y":264.0038948059082,"wires":[[]]},{"id":"cb7776dc.425728","type":"inject","z":"d0e1e64.1aab118","name":"Inject 1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89.21816635131836,"y":452.60443019866943,"wires":[["fedfd578.2d0f08"]]},{"id":"d0db0494.236e18","type":"inject","z":"d0e1e64.1aab118","name":"Inject 1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":102.01365280151367,"y":602.672685623169,"wires":[["19e7bb68.508e75"]]},{"id":"810d409d.1bd8d","type":"function","z":"cc630399.512e8","name":"Build HomeKit Characteristics","func":"if (msg.payload == 1) \n{    msg.payload = {\"CurrentDoorState\": 1, \"TargetDoorState\": 1}}\nelse\n{    msg.payload = {\"CurrentDoorState\": 0, \"TargetDoorState\": 0}}\nreturn msg; \n\n//Apple - Open is 0 Closed in 1\n//Sensor - Open is 0 Closed in 1","outputs":1,"noerr":0,"x":188.57142639160156,"y":91.42857360839844,"wires":[["ee0d3c6.a7697c","100b9d30.e8f663"]]},{"id":"ee0d3c6.a7697c","type":"homekit-service","z":"cc630399.512e8","accessory":"797391f9.d414c","name":"Door 2","serviceName":"GarageDoorOpener","x":456.07142639160156,"y":91.42857360839844,"wires":[["6b83998d.76f718"]]},{"id":"b8c2df74.3f45f","type":"rpi-gpio in","z":"cc630399.512e8","name":"Door 2 (GPIO 13)","pin":"33","intype":"down","debounce":"1000","read":true,"x":85,"y":327.5714416503906,"wires":[["fb87d074.1111c","810d409d.1bd8d","ed840365.04eba","445603f6.70075c"]]},{"id":"6b83998d.76f718","type":"switch","z":"cc630399.512e8","name":"Ignore passthrough","property":"hap.context","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":718.0000381469727,"y":92.85714912414551,"wires":[["bcea4602.e6a2b8"],[]],"outputLabels":["From Home",""]},{"id":"1a7c5555.d8dfab","type":"ui_button","z":"cc630399.512e8","name":"Open/Close Button (Door 2)","group":"8830dbb2.416f38","order":4,"width":0,"height":0,"passthru":true,"label":"Open/Close","color":"","bgcolor":"","icon":"vertical_align_center","payload":"1","payloadType":"num","topic":"","x":478.5714874267578,"y":492.9285955429077,"wires":[["b1ff3a20.528028","17bf4468.81bbbc","641da4a3.c991fc","686812a7.2e47ac"]]},{"id":"247de2f4.84147e","type":"function","z":"cc630399.512e8","name":"Inject 1","func":"msg.payload =  1;\nreturn msg; \n","outputs":1,"noerr":0,"x":266.57142639160156,"y":533.4285736083984,"wires":[["1a7c5555.d8dfab"]]},{"id":"b1ff3a20.528028","type":"rpi-gpio out","z":"cc630399.512e8","name":"Relay 2 (GPIO 11)","pin":"11","set":true,"level":"0","freq":"","out":"out","x":808.9644088745117,"y":503.71435546875,"wires":[]},{"id":"17bf4468.81bbbc","type":"delay","z":"cc630399.512e8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":802.8215255737305,"y":548.6786041259766,"wires":[["b5edbba1.094558"]]},{"id":"b5edbba1.094558","type":"function","z":"cc630399.512e8","name":"Inject 0","func":"msg.payload =  0;\nreturn msg; \n","outputs":1,"noerr":0,"x":961.2143173217773,"y":549.7499713897705,"wires":[["b1ff3a20.528028"]]},{"id":"6e18daa6.620924","type":"ui_audio","z":"cc630399.512e8","name":"","group":"9d1c8717.df2718","voice":"en-US","always":"","x":873.571418762207,"y":250.53572750091553,"wires":[]},{"id":"fb87d074.1111c","type":"switch","z":"cc630399.512e8","name":"Lock or Unlock","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","outputs":2,"x":312.5714340209961,"y":342.35715675354004,"wires":[["b15b6f0e.9b2c8","311258fe.f00c48"],["b15b6f0e.9b2c8","4229767b.b49058"]],"outputLabels":["0 = Open","1= Shut"]},{"id":"3bb3f231.a1fd6e","type":"ui_toast","z":"cc630399.512e8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Status Change","name":"","x":902.8570899963379,"y":292.142858505249,"wires":[]},{"id":"3bf89ac1.ca7736","type":"ui_chart","z":"cc630399.512e8","name":"Graph (Door 2)","group":"80dc64e9.9a9f98","order":2,"width":"10","height":"5","label":"History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2","removeOlder":"12","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":509.7500534057617,"y":276.03575706481934,"wires":[[],[]]},{"id":"c4371587.8c4ff8","type":"function","z":"cc630399.512e8","name":"Add to Dashboard Log2","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog2 = flow.get('dashboardLog2')|| [];\n\ndashboardLog2.unshift(msg);\nif (dashboardLog2.length > 20){\n    // Delete oldest message if &gt; 20\n    dashboardLog2.pop();\n    dashboardLog2.length = 20;\n} \n\n// store the value back\nflow.set('dashboardLog2',dashboardLog2);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog2;\nreturn msg;","outputs":1,"noerr":0,"x":878.2857513427734,"y":674.964319229126,"wires":[["d35bba79.4f7bd8"]]},{"id":"d35bba79.4f7bd8","type":"ui_template","z":"cc630399.512e8","group":"76b042e5.149c9c","name":"Log Widget (Door 2)","order":2,"width":"10","height":"5","format":" <h3 align=\"center\">Log</h3>\n <br>\n <li ng-repeat=\"x in msg.payload\">\n     <font size=\"3\">{{x.payload}}</font>\n </li>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1263.7500228881836,"y":742.500020980835,"wires":[[]]},{"id":"641da4a3.c991fc","type":"function","z":"cc630399.512e8","name":"Add Log Text","func":"if (msg.hap){\n   if (msg.hap.newValue == 0)\n   {\n        msg.payload = new Date().toLocaleString(\"en-US\", {timeZone: \"America/Chicago\"}) + \": OPEN triggered from Apple\" \n   }else{\n        msg.payload = new Date().toLocaleString(\"en-US\", {timeZone: \"America/Chicago\"}) + \": CLOSE triggered from Apple\" \n   }\n}\nelse\n{\n    msg.payload = new Date().toLocaleString(\"en-US\", {timeZone: \"America/Chicago\"}) + \": OPEN/CLOSE triggered from Page\" \n}\nreturn msg;","outputs":1,"noerr":0,"x":600.2500305175781,"y":649.7500400543213,"wires":[["c4371587.8c4ff8"]]},{"id":"934fefb.d025f1","type":"function","z":"cc630399.512e8","name":"Clear Log2","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog2 = flow.get('dashboardLog2')||[];\ndashboardLog2.length=0;\ndashboardLog2 = [];\nflow.set('dashboardLog2',dashboardLog2);\n","outputs":1,"noerr":0,"x":373.0000228881836,"y":741.5000381469727,"wires":[["d35bba79.4f7bd8"]]},{"id":"b15b6f0e.9b2c8","type":"function","z":"cc630399.512e8","name":"Add Log Text","func":"\nif (msg.payload === 0)\n{\n    msg.payload = new Date().toLocaleString(\"en-US\", {timeZone: \"America/Chicago\"}) + \": Garage door now OPEN\" \n}else{\n    msg.payload = new Date().toLocaleString(\"en-US\", {timeZone: \"America/Chicago\"}) + \": Garage door now CLOSED\" \n}\nreturn msg;","outputs":1,"noerr":0,"x":658.75,"y":418.75,"wires":[["75ffcf9c.a366a"]]},{"id":"75ffcf9c.a366a","type":"function","z":"cc630399.512e8","name":"Add to Dashboard Log2","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog2 = flow.get('dashboardLog2')|| [];\n\ndashboardLog2.unshift(msg);\nif (dashboardLog2.length > 20){\n    // Delete oldest message if &gt; 20\n    dashboardLog2.pop();\n    dashboardLog2.length = 20;\n} \n\n// store the value back\nflow.set('dashboardLog2',dashboardLog2);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog2;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":418.75,"wires":[["d35bba79.4f7bd8"]]},{"id":"ed840365.04eba","type":"ui_text","z":"cc630399.512e8","group":"d9235a3a.e409e8","order":3,"width":"3","height":"5","name":"Door Title (Door 2)","label":"Garage Door 2:","format":"","layout":"row-left","x":208.7744140625,"y":156.2548828125,"wires":[]},{"id":"ea7322d6.3f11a","type":"trigger","z":"cc630399.512e8","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-1","extend":false,"units":"min","reset":"","name":"","x":350.0195617675781,"y":241.00395584106445,"wires":[["3bf89ac1.ca7736"]]},{"id":"37ac2754.a58738","type":"ui_template","z":"cc630399.512e8","group":"8830dbb2.416f38","name":"Set Graphic Image (Door 2)","order":3,"width":"5","height":"4","format":"<img src=\"{{msg.payload}}\" alt=\"Flowers in Chania\">","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1180,"y":280,"wires":[[]]},{"id":"445603f6.70075c","type":"function","z":"cc630399.512e8","name":"Invert Result","func":"if (msg.payload==1) {msg.payload=0}\nelse {msg.payload=1}\nreturn msg;","outputs":1,"noerr":0,"x":257.0195426940918,"y":286.0039119720459,"wires":[["ea7322d6.3f11a"]]},{"id":"bcea4602.e6a2b8","type":"switch","z":"cc630399.512e8","name":"Lock or Unlock","property":"payload.TargetDoorState","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","outputs":2,"x":937.8214569091797,"y":88.9285888671875,"wires":[["247de2f4.84147e"],["247de2f4.84147e"]],"outputLabels":["0 = Open","1= Shut"]},{"id":"100b9d30.e8f663","type":"debug","z":"cc630399.512e8","name":"","active":true,"console":"false","complete":"false","x":589.3051147460938,"y":181.23376028878346,"wires":[]},{"id":"311258fe.f00c48","type":"change","z":"cc630399.512e8","name":"Open Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Garage Door two, has Opened","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690.0194892883301,"y":248.59739303588867,"wires":[["9a7b00d.35e8a","6e18daa6.620924","3bb3f231.a1fd6e"]]},{"id":"4229767b.b49058","type":"change","z":"cc630399.512e8","name":"Close Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Garage Door two, has Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":682.5149421691895,"y":335.894775390625,"wires":[["5dc494b1.07857c","6e18daa6.620924","3bb3f231.a1fd6e"]]},{"id":"9a7b00d.35e8a","type":"change","z":"cc630399.512e8","name":"Set Graphic to Open","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://github.com/lawrence-jeff/OpenGarage-Firmware/blob/master/OpenGarage/examples/ogMainArduino/data/DoorOpen.png?raw=true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":914.0101699829102,"y":194.31163787841797,"wires":[["37ac2754.a58738"]]},{"id":"5dc494b1.07857c","type":"change","z":"cc630399.512e8","name":"Set Graphic to Closed","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://github.com/lawrence-jeff/OpenGarage-Firmware/blob/master/OpenGarage/examples/ogMainArduino/data/DoorShut.png?raw=true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":899.7245864868164,"y":357.4544925689697,"wires":[["37ac2754.a58738"]]},{"id":"cb98db10.d1f898","type":"inject","z":"cc630399.512e8","name":"Inject 1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":94.30520629882812,"y":491.4545593261719,"wires":[["247de2f4.84147e"]]},{"id":"42819872.07ec58","type":"inject","z":"cc630399.512e8","name":"Inject 1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":107.10069274902344,"y":641.5228147506714,"wires":[["934fefb.d025f1"]]},{"id":"d3e25358.bce1b","type":"inject","z":"2e6fe463.c37f3c","name":"Reboot","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113.17531040736606,"y":125.36363874162946,"wires":[["2c2dc1fe.54649e"]]},{"id":"a894311f.2e604","type":"inject","z":"2e6fe463.c37f3c","name":"Shutdown","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120.01949310302734,"y":290.0259952545166,"wires":[["21a95c48.9da1a4"]]},{"id":"2c2dc1fe.54649e","type":"exec","z":"2e6fe463.c37f3c","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":362.15580531529014,"y":138.86363438197543,"wires":[[],[],[]]},{"id":"21a95c48.9da1a4","type":"exec","z":"2e6fe463.c37f3c","command":"sudo shutdown","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":348.59093475341797,"y":328.59742164611816,"wires":[[],[],[]]},{"id":"77395840.155168","type":"ui_button","z":"2e6fe463.c37f3c","name":"","group":"7e6f7302.b348ec","order":0,"width":0,"height":0,"passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":121.75323486328125,"y":69.9999647140503,"wires":[["2c2dc1fe.54649e"]]},{"id":"7ccb5416.fb6edc","type":"ui_button","z":"2e6fe463.c37f3c","name":"","group":"7e6f7302.b348ec","order":0,"width":0,"height":0,"passthru":false,"label":"Shutdown","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":110.01949310302734,"y":360.02601051330566,"wires":[["21a95c48.9da1a4"]]},{"id":"eda70d09.90301","type":"inject","z":"d0e1e64.1aab118","name":"Inject Log Startup","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":148.5909194946289,"y":792.8831787109375,"wires":[["38af1a7e.b247d6"]]},{"id":"38af1a7e.b247d6","type":"function","z":"d0e1e64.1aab118","name":"Add Log Text","func":"msg.payload = new Date().toLocaleString(\"en-US\", {timeZone: \"America/Chicago\"}) + \": Device Boot\" \nreturn msg;","outputs":1,"noerr":0,"x":402.8766441345215,"y":795.740306854248,"wires":[["5fbe6b47.3d7f14"]]},{"id":"5fbe6b47.3d7f14","type":"function","z":"d0e1e64.1aab118","name":"Add to Dashboard Log1","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog1 = flow.get('dashboardLog1')|| [];\n\ndashboardLog1.unshift(msg);\nif (dashboardLog1.length > 20){\n    // Delete oldest message if &gt; 20\n    dashboardLog1.pop();\n    dashboardLog1.length = 20;\n} \n\n// store the value back\nflow.set('dashboardLog1',dashboardLog1);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog1;\nreturn msg;","outputs":1,"noerr":0,"x":660.0194625854492,"y":785.7402744293213,"wires":[["df7f7d04.767e8"]]},{"id":"2f617f0f.1c07","type":"inject","z":"cc630399.512e8","name":"Inject Log Startup","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":161.4480743408203,"y":844.3117065429688,"wires":[["299754b4.b5925c"]]},{"id":"299754b4.b5925c","type":"function","z":"cc630399.512e8","name":"Add Log Text","func":"msg.payload = new Date().toLocaleString(\"en-US\", {timeZone: \"America/Chicago\"}) + \": Device Boot\" \nreturn msg;","outputs":1,"noerr":0,"x":415.7337989807129,"y":847.1688346862793,"wires":[["41a1644e.71203c"]]},{"id":"41a1644e.71203c","type":"function","z":"cc630399.512e8","name":"Add to Dashboard Log2","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog2 = flow.get('dashboardLog2')|| [];\n\ndashboardLog2.unshift(msg);\nif (dashboardLog2.length > 20){\n    // Delete oldest message if &gt; 20\n    dashboardLog2.pop();\n    dashboardLog2.length = 20;\n} \n\n// store the value back\nflow.set('dashboardLog2',dashboardLog2);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog2;\nreturn msg;","outputs":1,"noerr":0,"x":672.8766174316406,"y":837.1688022613525,"wires":[["d35bba79.4f7bd8"]]},{"id":"c221318f.c616","type":"delay","z":"d0e1e64.1aab118","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":765.7338180541992,"y":554.3117346763611,"wires":[["fee0e9fd.9e4f48"]]},{"id":"fee0e9fd.9e4f48","type":"function","z":"d0e1e64.1aab118","name":"Inject 0","func":"msg.payload =  0;\nreturn msg; \n","outputs":1,"noerr":0,"x":928.5909233093262,"y":554.3116972446442,"wires":[["6cf192ef.4608fc"]]},{"id":"686812a7.2e47ac","type":"delay","z":"cc630399.512e8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":805.7337341308594,"y":605.7402682304382,"wires":[["9cdf1507.276398"]]},{"id":"9cdf1507.276398","type":"function","z":"cc630399.512e8","name":"Inject 0","func":"msg.payload =  0;\nreturn msg; \n","outputs":1,"noerr":0,"x":957.1623153686523,"y":607.1687316894531,"wires":[["b1ff3a20.528028"]]}]